target/
**/*.rs.bk
*.lock
.vscode/
.zed/
.DS_Store
android-build/
**/*.pvp
**/*.pss
**/*.spv
**/*.prcc

# devtools
**/.cache/clangd/

## other artifacts
peridot-sdk/
peridot-sdk.zip
built/

## hidden locals
local/
.local/
